.a1{
    color:darkcyan;
}
.a2{
    color:darkblue;
}
.a3{
    color:darkorange;
}

.b1{
    width: 100%;
    height: 100%;
    background-image: url('back-1.jpeg');
    background-repeat:no-repeat;
    background-position: top right;
}

.b2{
    width: 70%;
    height: 100%;
    background-image: url('back-2.jpeg');
}

.b3{
    width: 70%;
    height: 100%;
    background-image: url('back-3.jpeg');
}


.c1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size:30px;
    font-variant: small-caps;
    font-weight: bolder;
}

.c2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: xx-large;
    font-variant: normal;
    font-weight: bold;
}

.c3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size:25px;
    font-weight: lighter;
}












