.a1{
    color:red;
    text-align: center;
    text-transform: capitalize;
}   
.a2{
    color:#97DB17 ;
    text-align: left;
    text-transform:lowercase ;
}
.a3{
    color:rgb(23, 53, 219);
    text-align: right;
    text-transform: uppercase;
}